* {
  padding: 0;
  margin: 0;
}

.main1 {
  /* background-color: red; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main1_title {
  font-size: 5rem;
}
.main1_title span {
  color: #6366f1;
}
.logoTemp{
  margin: 30px;
  font-size: 3rem;
  cursor: pointer;
}
.logoTemp span:first-child{
  font-size: 2rem;
}
.logoTemp span:last-child{
  color: #6366f1;
}
.card {
  min-width: 80%;
  width: max-content;
  height: 80%;
  margin: 20px auto;
  padding: 10px;
  background-color: #24233b;
  border-radius: 8px;
  z-index: 1;
  /* box-shadow: 0px 10px 10px rgb(73, 70, 92); */
  transition: 0.5s;
}

.card.add {
  margin-top: 10vh;
  padding: 20px;
}

.card.add textarea {
  height: 50vh;
  resize: none;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

textarea:focus {
  outline: none;
}

.card:hover {
  /* transform: translateY(-7px); */
  box-shadow: 0px 10px 10px black;
}

.top {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.circle {
  padding: 0 4px;
}

.circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.header {
  margin: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.title {
  color: #fff;
  width: 100%;
  text-align: center;
}

.card_bottom_bar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 1rem;
  background-color: #6366f1;
  border: none;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.infoContainer {
  position: absolute;
  background: #00000077;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e103d;
  padding: 5rem;
  border-radius: 10px;
  gap: 20px;
}

#code {
  width: 270px;
  height: 350px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}
#code:focus {
  outline: none !important;
}
